h1{
    color: rgb(216, 130, 197);
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: aquamarine;      
}
#spandId{
    font-size: 18px;
    margin: 50px;
}
.divClass{
    padding: 50px;
    border: 2px solid cornflowerblue;
}